*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background: #f7f7f7 !important;
}
.App{
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.ant-pagination{
  margin: 20px !important;
  float: right;
}
.ant-select{
  margin-bottom: 15px !important;
  margin-right: 15px !important;
}

.star-enter {
  opacity: 0.01;
}
.star-enter-active {
  opacity: 1;
  transition: all 300ms ease-in;
}

.star-exit {
  opacity: 1;
}

.star-exit-active {
  opacity: 0;
  transition: all 300ms ease-in;
}
